<section class="container col-md-8">
      <div class="titles">
         <h1>Lista de usuarios</h1>
      </div>
   <div class="list-group shadow-sm">
      <a *ngFor="let user of users" class="item-usuario list-group-item list-group-item-action list-group-item-secondary" (click)="goDetailUser(user.id)">
         <figure class="figure-usuario rounded-circle">
            <img [src]="user.avatar" alt="">
         </figure>
         <p>{{ user.first_name }} {{ user.last_name }} </p>
         <i class="fas fa-info-circle"></i>
      </a>
   </div>
</section>
