<section class="container col-md-8">
      <div class="titles">
         <h1>Lista de usuarios</h1>
      </div>
   <div class="list-group shadow-sm">
      <a href="#" class="item-usuario list-group-item list-group-item-action list-group-item-light">
         <figure class="figure-usuario rounded-circle">
            <img src="https://s3.amazonaws.com/uifaces/faces/twitter/calebogden/128.jpg" alt="">
         </figure>
         <span>This is a warning list group item</span>
         <i class="fas fa-info-circle"></i>
      </a>
      <a href="#" class="item-usuario list-group-item list-group-item-action list-group-item-primary">
         <figure class="figure-usuario rounded-circle">
            <img src="https://s3.amazonaws.com/uifaces/faces/twitter/calebogden/128.jpg" alt="">
         </figure>
         <span>This is a warning list group item</span>
         <i class="fas fa-info-circle"></i>
      </a>
      <a href="#" class="item-usuario list-group-item list-group-item-action list-group-item-light">
         <figure class="figure-usuario rounded-circle">
            <img src="https://s3.amazonaws.com/uifaces/faces/twitter/calebogden/128.jpg" alt="">
         </figure>
         <span>This is a warning list group item</span>
         <i class="fas fa-info-circle"></i>
      </a>
   </div>
</section>
